body {
    background-color: #f9f9f9 !important;
    font-family: futura !important; 
}

#won, #lost {
    display: none;
}
#lost {
    color: red;
}

#word, #letters {
    padding: 10px 0px;
}

#man {
    margin: 20px auto;
    width: 600px;
    height: 500px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
}

#word {
    font-size: 1.8em;
}

.hint {
    font-size: 0.6em !important;
    color: green;
    padding:0px;
}

.btn {
    padding: 7px 7px !important;
    margin: 0px 2px;
}

h1 {
    font-size: 3.0em !important;
}

h4 {
    font-style: italic;
}


#line {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}