body
{
    background-color:white;
    
}

header, main, nav, footer
{
    text-align: center;
    color: #0000000;
    
}

header
{
    width: 50%;
}

main
{
    font-family: 'Oswald', sans-serif;
}

nav a /* links within "nav" container */
{
    font-family: 'Supermercado One', cursive;
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;    /* removes underline */
    color: black;             /* by defualt, links are blue */
}

nav a:hover /*pseudo class */
{
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s; /* transition effect */
}

#me
{
    float:left;
    
}

footer
{
    clear: left;
}



td 
{
    padding-right: 10px;
    font-size: 1.3em;
    text-align: center;
}



#table-header
{
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

.table-row
{
    font-family: 'Oswald', sans-serif;
    background-color: white;
    color: black;
    
 
}

ul
{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-left: 200px;
}

.hobby 
{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: underline;
    text-transform: capitalize;

    
}



table
{
    margin: 0px auto;
}



h1
{
    font-family: 'Supermercado One', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
